<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <title>Initiative sur les bourses d'études</title>

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css">
    <link rel="stylesheet" href="bower_components/angular-chart.js/dist/angular-chart.css">

    <style>
        .h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h5, h6 {
            font-weight: 300;
        }

        h2 {
            font-size: 23px;
        }

        .navbar {
            margin-bottom: 0;
        }

        .top-header {
            background-color: #FFF;
            padding-top: 5px;
            padding-bottom: 28px;
            text-align: left;
            width: 100%;

        }

        .top-header h1 {
            font-weight: 500;
        }

        .radio-ctrl {
            padding: 10px;
        }

        .form-inline .radio label {
            padding-left: 6px;
            font-size: 14px;
            font-weight: 400;
        }

        input[type="radio"]:focus {
            outline: none;
        }

        .form-inline {
            margin-top: 20px;
            margin-bottom: 20px;
        }

    </style>

    <!--[if lt IE 9]>
    <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body ng-app="app">
<div id="fb-root"></div>
<script>
    window.fbAsyncInit = function () {
        FB.init({
            appId: '1587196631554813',
            xfbml: true,
            version: 'v2.3'
        });
    };

    (function (d, s, id) {
        var js, fjs = d.getElementsByTagName(s)[0];
        if (d.getElementById(id)) {
            return;
        }
        js = d.createElement(s);
        js.id = id;
        js.src = "//connect.facebook.net/en_US/sdk.js";
        fjs.parentNode.insertBefore(js, fjs);
    }(document, 'script', 'facebook-jssdk'));
</script>

<!-- Static navbar -->
<nav ng-controller="UserController as user" class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
                    aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="#">Initiative sur les bourses d'études</a>


        </div>

        <div id="navbar" class="navbar-collapse collapse">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <a ng-click="changeLanguage('en')" class="ng-scope btn">English</a>
                </li>
                <li>
                    <a ng-click="changeLanguage('de')" class="ng-scope btn">Deutsch</a>
                </li>
                <li>
                    <a ng-click="changeLanguage('fr')" class="ng-scope btn">Français</a>
                </li>
            </ul>
        </div>
        <!--/.nav-collapse -->
    </div>
</nav>


<header class="top-header">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <p>

                <div class="fb-like" data-href="http://stipendieninitiative.learn-association.ch/"
                     data-layout="standard" data-action="like" data-show-faces="true" data-share="true"></div>
                </p>
            </div>
            <div class="col-md-12">
                <h1>Initiative sur les bourses
                    d'études. Quelles conséquences?</h1>

            </div>
            <div class="col-md-10 head">
                <p class="lead">
                    En cliquant sur <em>"si je vote oui"</em>, la simulation prend en compte le coût de
                    500 Millions avancé par les Conseil fédéral
                    <small>(les denière éstimation avance un chiffre de 120 Millions).</small>
                    <small> Simulation effectuer à partir des statistiques des dépenses de 2012-2013.</small>
                </p>
            </div>
        </div>
    </div>
</header>

<div class="container main-content">


    <div class="row" ng-controller="ChartCantonController">

        <div class="col-md-12">
            <h2>Montant moyen des bourses par bénéficiaire</h2>
        </div>

        <!--form -->
        <div class="col-md-6">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label">Que se passe t'il?</label>

                    <div class="radio">
                        <label class="bg-danger radio-ctrl">
                            <input type="radio" name="voteState" ng-model="voteState" ng-value="false"
                                   ng-change="refreshData()">
                            Si je vote non
                        </label>
                    </div>
                    <div class="radio">
                        <label class="bg-success radio-ctrl">
                            <input type="radio" name="voteState" ng-model="voteState" ng-value="true"
                                   ng-change="refreshData()">
                            Si je vote oui
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <!--End form -->

        <div class="col-md-12">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-12">
                        <canvas id="chartCanton" class="chart chart-bar" data="data" labels="labels" series="series"
                                legend="true"></canvas>
                    </div>
                </div>

                <div class="caption">
                    <p>
                        Les bourses d’études varient fortement selon les cantons. Dans le canton de Zurich 0.3% de
                        la population reçoit en moyenne 3’800 francs par semestre pendant qu’à Neuchâtel 1% de la
                        population du canton touche en moyenne 1200 francs par semestre.
                    </p>

                    <p>
                        Pourtant ces étudiants de différent cantons se retrouvent souvent dans les mêmes écoles!
                    </p>

                    <p>
                        <small>Source: <a
                                href="http://www.bfs.admin.ch/bfs/portal/fr/index/themen/15/02/data/blank/05.html">Statistique
                            Suisse – Système d'éducation - Données détaillées</a>
                        </small>
                    </p>
                </div>
            </div>

        </div>

    </div>


    <div class="row" ng-controller="ChartPIBController">

        <div class="col-md-12">
            <h2>La Suisse investi {{investment | number}} millions, soit {{ data[1] }}% du PIB dans
                l'éducation</h2>
        </div>
        <!--form -->
        <div class="col-md-7">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label">Que se passe t'il?</label>

                    <div class="radio">
                        <label class="bg-danger radio-ctrl">
                            <input type="radio" name="voteState" ng-model="voteState" ng-value="false"
                                   ng-change="refreshData()">
                            Si je vote non
                        </label>
                    </div>
                    <div class="radio">
                        <label class="bg-success radio-ctrl">
                            <input type="radio" name="voteState" ng-model="voteState" ng-value="true"
                                   ng-change="refreshData()">
                            Si je vote oui
                        </label>
                    </div>
                </div>
            </form>
        </div>

        <!--End form -->
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <canvas id="doughnutPIB" class="chart chart-doughnut chart-sm" data="data" labels="labels"
                                legend="true"></canvas>
                    </div>
                </div>

                <div class="caption">

                    <p>
                        En cas d'acceptation de l'initiative, le montant investi augmenterait légèrement de 5.55 à
                        5.63% du PIB. Les pays de l'OCDE investissent 5.8% de leur PIB dans l'éducation.
                        Certains pays, comme la Norvège, investissent plus de 8% de leur PIB dans la formation.
                    </p>

                    <p>
                        <small>Source: <a
                                href="http://www.bfs.admin.ch/bfs/portal/fr/index/themen/15/17/blank/01.indicator.402101.4012.html?open=1,520#520">Statistique
                            Suisse – Dépenses publiques d’éducation</a>
                        </small>
                    </p>

                </div>
            </div>

        </div>


    </div>

    <div class="row" ng-controller="ChartPublicInvestmentController">
        <div class="col-md-12">
            <h2>L'éducation représente {{ data[1] }}% des dépenses publiques</h2>
        </div>

        <!--form -->
        <div class="col-md-12">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label">Que se passe t'il?</label>

                    <div class="radio">
                        <label class="bg-danger radio-ctrl">
                            <input type="radio" name="voteState" ng-model="voteState" ng-value="false"
                                   ng-change="refreshData()">
                            Si je vote non
                        </label>
                    </div>
                    <div class="radio">
                        <label class="bg-success radio-ctrl">
                            <input type="radio" name="voteState" ng-model="voteState" ng-value="true"
                                   ng-change="refreshData()">
                            Si je vote oui
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <!--End form -->
        <div class="col-md-12">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <canvas id="doughnutDepensePublic" class="chart chart-doughnut" data="data" labels="labels"
                                legend="true"></canvas>
                    </div>
                </div>
                <div class="caption">
                    <p>
                        En cas d'acception de l'initiative, l'argent public investi dans l'éducation augmenterait
                        légèrement de 17.41 % à 17.46%.
                    </p>

                    <p>
                        <small>Source: <a
                                href="http://www.bfs.admin.ch/bfs/portal/fr/index/themen/15/02/data/blank/05.html">Statistique
                            Suisse – Système d'éducation - Données détaillées</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>

    </div>

    <div class="row" ng-controller="ChartPublicInvestmentDetailController">


        <div class="col-md-12">
            <h2>Répartition du montant des dépenses publique dans l'éducation</h2>
        </div>
        <!--form -->
        <div class="col-md-7">
            <form class="form-inline">
                <div class="form-group">
                    <label class="control-label">Que se passe t'il?</label>

                    <div class="radio">
                        <label class="bg-danger radio-ctrl">
                            <input type="radio" name="voteState" ng-model="voteState" ng-value="false"
                                   ng-change="refreshData()">
                            Si je vote non
                        </label>
                    </div>
                    <div class="radio">
                        <label class="bg-success radio-ctrl">
                            <input type="radio" name="voteState" ng-model="voteState" ng-value="true"
                                   ng-change="refreshData()">
                            Si je vote oui
                        </label>
                    </div>
                </div>
            </form>
        </div>
        <!--End form -->

        <div class="col-md-12">
            <div class="thumbnail">
                <div class="row">
                    <div class="col-md-8 col-md-offset-2">
                        <canvas id="chartDepensePublicDetail" class="chart chart-doughnut" data="data" labels="labels"
                                legend="true"></canvas>
                    </div>
                </div>
                <div class="caption">
                    <p>

                    </p>

                    <p>
                        <small>Source: <a
                                href="http://www.bfs.admin.ch/bfs/portal/fr/index/themen/15/02/data/blank/05.html">Statistique
                            Suisse – Système d'éducation - Données détaillées</a>
                        </small>
                    </p>
                </div>
            </div>
        </div>


    </div>

    <!-- FB comment -->
    <div class="row">
        <div class="col-md-6">
            <div class="fb-comments" data-href="http://stipendieninitiative.learn-association.ch" data-width="100%"
                 data-numposts="5" data-colorscheme="light"></div>
        </div>
    </div>


    <footer class="row">
        <div class="col-md-12">
            <p class="pull-right">By <a href="mailto:perdrisat@gmail.com">Simon Perdrisat</a> – <a
                    href="https://github.com/learn-association/bourses-etudes2015/issues">Report a problem</a></p>
        </div>
    </footer>


</div>


<!-- JS Libs -->
<script src="bower_components/angular/angular.js"></script>
<script src="angular/i18n/angular-locale_de-ch.js"></script>

<script src="bower_components/jquery/dist/jquery.min.js"></script>

<script src="bower_components/angular-bootstrap/ui-bootstrap.min.js"></script>

<script src="bower_components/angular-translate/angular-translate.min.js"></script>

<script src="bower_components/Chart.js/Chart.js"></script>

<script src="bower_components/angular-chart.js/dist/angular-chart.js"></script>

<script src="app/app.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>


</body>
</html>